#wrapper {
    margin-top: 5%;
}

footer p, header h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.publicAdsContainer ul li div {
    width: 90%;
}

#categoriesFilter, #townsFilter, #leftSidebar, #loggedInSidebar {
    width: 75%;
}

.loadingImage {
    width: 30%;
    height: auto;
    margin-left: 34%;
    margin-right: auto;
}