logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
angular-authentication-example-master
SPA-with-AngularJS-master
/files/SPA-with-AngularJS-master.zip
/files/SoftwareUniversity-master.zip
