.sideFilters {
    border: 2px solid lightgreen;
    border-radius: 1%;
    margin-top: 12.9%;
    /*background: #37A7E8;*/
    /*color: black;*/
}

    .titleFilters {
        color: black;
        font-weight: bolder;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 7%;
        margin: 0;
    }

    .panel-body, .panel-heading {
        margin: 0;
    }

    .sideFilters .panel-body li {
        padding: 5%;
    }

        .sideFilters .panel-body a {
            text-transform: none;
            color: black;
            /*font-weight: bold;*/
            font-size: 1.2em;
        }

        .sideFilters .panel-body a:hover {
            cursor: pointer;
        }

        .sideFilters .panel-body .selectedSideFilter {
            text-decoration: underline;
            color: black;
            font-weight: bold;
            border: 1px solid lightgreen;
            background: #DAA600;
            width: 80%;
        }

        .sideFilters .labelsAll {
            font-style: italic;
        }