main li {
    list-style-type: none;
    color: black;
    margin: 4%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
}

    main li .container {
        background: #37A7E8;
        border-radius: 2%;
        box-shadow: 2px 2px 2px black;
    }

    .adsFilters, .adsFilters h4 {
        background: #37A7E8;
        color: white;
    }

    .adsFilters {
        border-radius: 1%;
        border: 2px solid lightgreen;
    }

    main .adsLiHeader {
        margin-bottom: 7%;
    }

        main .adsLiHeader .titleDiv {
            font-weight: bolder;
            font-size: 1.4em;
        }

            .titleDiv {
                padding: 0;
                margin: 0;
                color: black;
            }

            .photo, .textDiv, .adsTextRight {
                border: 2px dotted #add8e6;
            }

            /*.photoDiv {*/
                /*background: #a6d8f4;*/
            /*}*/

                .photo {
                    max-width: 150px;
                    max-height: 120px;
                }

            .textDiv {
                font-size: 0.9em;
                padding: 1%;
                background: #a6d8f4;
                overflow: hidden;
            }

            .adsTextRight {
                margin-left: 3.2%
                margin-right: 0;
                margin-top: 4%;
                margin-bottom: 0;
                padding: 0;
                padding-left: 2%;
                background: #a6d8f4;
            }

            .adsLabelTextRight {
                margin-top: 4%;
                margin-bottom: 0;
                margin-left: 0;
                padding: 0;
            }