<header class="navbar navbar-default navbar-static-top">
    <div class="col-lg-12">
        <h1>Ads - {{ pageTitle }}</h1>
        <div ng-if="isLoggedIn" class="user-area">
            <span>{{getCurrentUser().username}}</span>
            <!--<a ng-click="logout()" class="link">Logout</a>-->
        </div>
    </div>
</header>
<div id="wrapper">
    <div class="row">
        <div class="col-md-3">
            <left-public-sidebar data-ng-if="!isLoggedIn"></left-public-sidebar>
            <logged-in-sidebar data-ng-if="isLoggedIn"></logged-in-sidebar>
        </div>
        <div class="col-md-6 publicAdsContainer">
            <public-ads></public-ads>
        </div>
        <div class="col-md-3 filtersContainer">
            <categories></categories>
            <towns></towns>
        </div>
    </div>
</div>