<div id="public-ads">
    <img src="imgs/loading2.gif" alt="Still loading..." data-ng-hide="ready" class="loadingImage"/>

    <ul data-ng-cloak>
        <li data-ng-repeat="ad in adsData.ads">
            <div class="container well">
                <h3>{{ ad.title }}</h3>
                <span><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</span>
                <div ng-if='ad.imageDataUrl'>
                    <strong>Image:</strong>
                    <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
                </div>
                <div>Text:  {{ ad.text }}</div>
                <div>Name: {{ ad.ownerName }}</div>
                <div>Email: {{ ad.ownerEmail }}</div>
                <div>Phone: {{ ad.ownerPhone }}</div>
            </div>
        </li>
    </ul>

    <div ng-if="adsData.ads.length==0" class="box no-data">
        No ads found.
    </div>

    <pagination total-items="adsData.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>
    <!--<pre>Page: {{CurrentPage}} / {{numPages}}</pre>-->
</div>