<div class="jumbotron">
    <div class="row">
        <div class="container well adsFilters">
            <div class="col-xs-2">
                <span><strong>Current Page: </strong> {{ currentPage }}</span>
            </div>
            <div class="col-xs-2">
                <span><strong>Total Ads: </strong> {{ totalItems }}</span>
            </div>
            <div class="col-xs-4">
                <label for="search">Search:</label>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-4">
                <label for="search">Ads per page:</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div class="col-lg-9">
            <ul>
                <!--<li data-ng-repeat="ad in data.ads">-->
                <li dir-paginate="ad in data.ads | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                    <div class="container well">
                        <div class="adsLiHeader">
                            <div class="col-lg-12">
                                <h3 class="pull-left titleDiv">{{ad.title}}</h3>
                                <span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="row adsLiMain">
                            <div class="col-md-2 pull-left photoDiv">
                                <img class="photo" ng-src="{{ad.imageDataUrl}}" alt="productPhoto"/>
                            </div>
                            <div class="col-lg-9 dataDiv pull-right">
                                <div class="col-lg-12 textDiv">{{ad.text}}</div>
                                <label for="ownerName" class="col-lg-2 pull-left control-label adsLabelTextRight">
                                    Name:
                                </label>
                                <div class="col-lg-10 adsTextRight" id="ownerName">{{ad.ownerName}}</div>
                                <label for="ownerEmail" class="col-lg-2 pull-left control-label adsLabelTextRight">
                                    Email:
                                </label>
                                <div class="col-lg-10 adsTextRight" id="ownerEmail">{{ad.ownerEmail}}</div>
                                <label for="ownerPhone" class="col-lg-2 pull-left control-label adsLabelTextRight">
                                    Tel:
                                </label>
                                <div class="col-lg-10 adsTextRight" id="ownerPhone">{{ad.ownerPhone}}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 pull-right">
            <div class="sideFilters">
                <div class="panel-heading">
                    <h3 class="titleFilters">Categories</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="category in categories">{{category.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="sideFilters">
                <div class="panel-heading">
                    <h3 class="titleFilters">Towns</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="town in towns">{{town.name}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<footer>
    <div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true"
                                     template-url='bower_components/angular-utils-pagination/dirPagination.tpl.html'>
            </dir-pagination-controls>
        </div>
    </div>
</footer>