<div class="jumbotron">
    <div class="row">
        <div class="col-lg-9">
            <ul>
                <li data-ng-repeat="ad in data.ads">
                    <div class="container well">
                        <div class="adsLiHeader">
                            <div class="col-lg-12">
                                <h3 class="pull-left titleDiv">{{ad.title}}</h3>
                                <span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="row adsLiMain">
                            <div class="col-md-4 pull-left photoDiv">
                                <img class="photo" ng-src="{{ad.imageDataUrl}}" alt="productPhoto"/>
                            </div>
                            <div class="col-lg-7 dataDiv">
                                <div class="col-lg-12 textDiv">{{ad.text}}</div>
                                <label for="ownerName" class="col-lg-2 pull-left control-label adsLabelTextRight">
                                    Name:
                                </label>
                                <div class="col-lg-10 adsTextRight" id="ownerName">{{ad.ownerName}}</div>
                                <label for="ownerEmail" class="col-lg-2 pull-left control-label adsLabelTextRight">
                                    Email:
                                </label>
                                <div class="col-lg-10 adsTextRight" id="ownerEmail">{{ad.ownerEmail}}</div>
                                <label for="ownerPhone" class="col-lg-2 pull-left control-label adsLabelTextRight">
                                    Tel:
                                </label>
                                <div class="col-lg-10 adsTextRight" id="ownerPhone">{{ad.ownerPhone}}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            Filters
        </div>
    </div>
</div>